<div class="panel-body">
  <%= f.hidden_field :created_by_id, value: current_user.id, required: true %>
</div>

<div class="panel-body">
  <%= f.input :event_id, collection: Event.all.collect{|d| [d.name, d.id]}, required: true %>
</div>

<div class="panel-body">
  <%= f.input :amount %>
</div>

<div class="panel-body settlement_block">
  <%= f.input :paid_to_id, collection: User.all.collect{|d| [d.name, d.id]}%>
</div>

<div class="panel-body not_settlement_block">
  <p class='weightText'>Members</p>
  <%= f.collection_check_boxes :user_ids, User.all.collect{|d| [d.name, d.id]}, :last, :first, required: true%>
</div>

<div class="panel-body">
  <label>Comment</label>
  <%= f.text_area :comment %>
</div>

<div class="panel-body">
  <%= f.button :submit, 'Save',class: 'btn btn-success' %>
  <% if !@bill.new_record?%>
    <% unless is_bill_settlement?(@bill) %>
      <%= link_to 'Add Transactions', transactions_bill_path(@bill), class: 'btn btn-primary'%>
    <% end %>
    <%= link_to 'Finalise Bill', finalise_bill_bill_path(@bill), class: 'btn btn-danger'%>
  <% end %>
  <%= link_to 'Cancel', bills_path, class: 'btn btn-warning'%>
</div>
