<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_in', :default => "Bills") %><%= link_to 'Add Bill', new_bill_path, class: 'btn btn-primary index_btn right_align'%></h4>
  </div>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
      <th>Amount</th>
      <th>State</th>
      <th>Added by</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%- @bills.each do |bill| %>
      <tr>
        <td><%= bill.event.name %></td>
        <td><%= datetime_modifier(bill.created_at) %></td>
        <td><%= bill.amount %></td>
        <td><%= bill.aasm_state %></td>
        <td><%= bill.created_by.name %></td>
        <% if bill.draft? %>
          <% if bill.event_name == 'Settlement'%>
            <td><%= link_to 'Edit', edit_bill_path(bill), class: 'btn'%> | <%= link_to 'Delete', bill_path(bill), class: 'btn', method: :delete %> | <%= link_to 'Approve Bill', finalise_bill_bill_path(bill), class: 'btn' %></td>
          <% else %>
            <td><%= link_to 'Edit', edit_bill_path(bill), class: 'btn'%> | <%= link_to 'Transactions', transactions_bill_path(bill), class: 'btn'%> | <%= link_to 'Delete', bill_path(bill), class: 'btn', method: :delete %> | <%= link_to 'Approve Bill', finalise_bill_bill_path(bill), class: 'btn'%> </td>
          <% end %>
        <% else %>
          <td><%= link_to 'Show Details', finalise_bill_bill_path(bill), class: 'btn' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>
