<%= simple_form_for(@bill, url: bill_url) do |f| %>
  <p>Event name: <%= @bill.event.name %></p>
  <p>Event date: <%= datetime_modifier(@bill.event.created_at) %></p>
  <%= f.simple_fields_for :transactions do |transaction| %>
    <%= transaction.input :amount_paid %>
    <%= transaction.input :user_id, collection: @bill.users.collect{|d| [d.name, d.id]} %>
  <% end %>
  <%= f.submit %>
<% end %>
